* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}

body {
	background: #a2a3a3;
}

#countainer {
	height: 100%;
	padding-top: 40px;
}

#section_start {
	display: flex;
	align-items: center;
	flex-direction: column;
}
#titr {
	font-size: 50px;
	color: #fff;
	text-shadow: 0 4px 2px #0068a9;
	margin-bottom: 40px;
}
#input {
	outline: none;
	border-radius: 5px;
	box-shadow: 0 4px 2px #0068a9;
	border: 2px solid #fff;
	padding: 6px 10px;
	color: #0068a9;
	font-weight: 300;
	width: 250px;
	font-size: 20px;
}

#section_input {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#input:focus {
	transform: translateY(2px);
	box-shadow: none;
}

#input::placeholder {
	color: #989b9d;
}

.input_btn {
	font-size: 20px;
	width: 30px;
	cursor: pointer;
	padding: 5px;
	background-color: #fff;
	border: 2px solid #fff;
	outline: none;
	border-radius: 5px;
	box-shadow: 0 4px 2px #0068a9;
	color: #0068a9;
}

.input_btn:hover {
	transform: translateY(2px);
	box-shadow: none;
}

#add_btn {
	margin-left: 10px;
	margin-right: 10px;
}

#colors {
	margin: 20px;
	display: flex;
	justify-content: space-between;
	gap: 8px;
}
.color {
	box-shadow: 0 4px 2px #0068a9;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	border: 2px solid #fff;
	cursor: pointer;
}

.color:hover {
	transform: translateY(2px);
	box-shadow: none;
}

.section_boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	margin: 0 100px;
}
.box {
	box-shadow: 0 4px 2px #0068a9;
	margin: 10px;
	border-radius: 5px;
	width: 250px;
	min-height: 150px;
	text-align: start;
	padding: 10px 15px;
	font-size: 15px;
	background: #fff;
	cursor: pointer;
	color: #0091ea;
	position: relative;
	border: 2px solid #fff;
	word-wrap: break-word;
    font-size: 25px;
}
